# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/LICENSE-new.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/gradlew
/MinecraftForge-Credits.txt
/forge-1.12.2-14.23.4.2705-changelog.txt
/CREDITS-fml.txt
/README.txt
/gradlew.bat
/libs/
/gradle/
