# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/LICENSE-new.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/gradlew
/MinecraftForge-Credits.txt
/forge-1.12.2-14.23.4.2705-changelog.txt
/CREDITS-fml.txt
/README.txt
/gradlew.bat
/libs/
/gradle/
/src/libs/
classes/
src/main/resources/235-512.png
src/main/resources/discord_token_icon_dark_by_flexo013-daaj71i.png
src/main/resources/ezgif.com-gif-to-apng.png
src/main/resources/icon.png
src/test/
/src/main/resources/235-512.png
src/main/resources/scripts/
/src/main/resources/scripts/235-512.png
